.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test {
  color: red;
}

/*Body*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  padding-top: 88px;
}


/*Navigation Bar*/
.navbar {
  background-color: #1b262c;
}
.navbar-symbol {
  width: 3rem;
  height: auto;
}
.navbar-brand {
  font-size: 2rem;
  color: #fff;
  padding-left: 1rem;
}
.nav-item {
  padding: 0 10px;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.6);
}
.nav-link {
  font-size: 1.2rem;
}
