.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*Body*/
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  padding-top: 85px;
  background-color: #dfd3c3;
  color: #dfd3c3;
}



/*Navigation Bar*/
.navbar {
  background-color: #1b262c;
}
.navbar-symbol {
  width: 2rem;
  height: auto;
}
.navbar-name {
  font-size: 2.5rem;
  padding-left: 1rem;
  color: #dfd3c3 !important;
}
.nav-item {
  padding: 0 10px;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(223,211,195,.5);
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(223,211,195);
}
.nav-link {
  font-size: 1.5rem;
}
.profile-img {
  width: 6rem;
  max-height: 100%;
  max-width: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}
.uk-flag{
  transition-duration: 0.5s;
  opacity: 0.5;
}
.it-flag{
  transition-duration: 0.5s;
  opacity: 1;
}



/*Summary*/
.summary {
  background-color: #1b262c;
  color:#dfd3c3;
  text-align: center;
  padding-top: 5rem;
}
.frame {
    position: relative;
}
.profile-icon {
  font-size: 2rem;
  color:#dfd3c3;
  vertical-align: middle;
  align-items: center;
  align-self: center;
  align-content: center;
}
.info-text{
  color: #dfd3c3;
  text-align: left;
  padding: 2rem;
}
.youtube-frame {
  width: 420px;
  height: 420px;
  border: 0;
  vertical-align: middle;
  align-items: center;
  align-self: center;
  align-content: center;
}



/*Footer*/
footer {
  background-color: #1b262c;
  color:#dfd3c3;
  text-align: center;
  bottom: 0;
  padding: 3% 0;
}
footer p {
  color:#dfd3c3;
}
.footer-symbol {
  color:#dfd3c3;
  font-size: 1.5rem;
}
.link-decoration {
  text-decoration: none;
}
.footer-symbol:hover {
  opacity: 0.6;
}
